@primary: #232323;
/*@textColor: rgba(135, 250, 126, 1.0);*/
@textColor: #232323;
@transparency: 90%;
@backgroundColor: #6165ff;
@backgroundColorTwo: #1e9afe;
@backgroundImage: linear-gradient(90deg, rgba(97,101,255,1) 25%, rgba(107,213,161,1) 75%);
/* Great theme: https://themer.dev/?colors.dark.shade0=%23222323&colors.dark.shade7=%23DDDDDD&colors.dark.accent0=%23FF5257&colors.dark.accent1=%23F7821C&colors.dark.accent2=%23FBB927&colors.dark.accent3=%2362BA46&colors.dark.accent4=%2300C7A3&colors.dark.accent5=%23007AFF&colors.dark.accent6=%23A550A7&colors.dark.accent7=%23F74F9E&colors.light.shade0=%23FFFFFF&colors.light.shade7=%23272727&colors.light.accent0=%23E0383E&colors.light.accent1=%23F7821C&colors.light.accent2=%23FBB927&colors.light.accent3=%2362BA46&colors.light.accent4=%2310B9A6&colors.light.accent5=%23007AFF&colors.light.accent6=%23953D96&colors.light.accent7=%23F74F9E&activeColorSet=dark&calculateIntermediaryShades.dark=true&calculateIntermediaryShades.light=true*/

html, body {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-family: "Helvetica", "Sans Unicode", "Lucida Grande", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

section#zazu {
  background-color: @backgroundColor;
  background-image: @backgroundImage;
  -webkit-app-region: drag;
  cursor: move;
  overflow-x: hidden;

  input {
    background-color: @backgroundColor;
    background-image: @backgroundImage;
    color: @textColor;
    font-size: 40px;
    color: @textColor;
    outline: none;
    width: 100%;
    padding: 10px;
    border: 0;
    cursor: text;
  }

  div.results {
    display: flex;
    flex-direction: row;

    ul {
      padding: 0;
      margin: 0;
      /*border-top: 1px solid fade(darken(@primary, 10%), @transparency);*/
      max-height: 333px;
      overflow: hidden;
      width: 50%;

      &:last-child {
        width: 100%;
      }

      + div {
        width: 50%;
      }

      li {
        display: block;
        height: 45px;
        line-height: 45px;
        /*border-bottom: 1px solid fade(darken(@primary, 10%), @transparency);*/
        -webkit-app-region: no-drag;
        cursor: pointer;
        width: 100%;

        .icon {
          color: @textColor;
          text-align: center;
          line-height: 30px;
          height: 30px;
          width: 30px;
          margin: 7.5px;
          float: left;
          opacity: 0.75;
        }

        h2, h3 {
          margin: 0;
          padding-left: 10px;
          color: @textColor;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: "Sans Unicode", "Lucida Grande", sans-serif;
          font-weight: 400;
        }

        h2 {
          font-size: 20px;
          line-height: 25px;
          &:last-child {
            font-size: 20px;
            line-height: 45px;
          }
        }

        h3 {
          font-size: 15px;
          line-height: 15px;
        }

        &.active, &:hover {
          background-color: fade(darken(@backgroundColor, 8%), @transparency);
        }
      }
    }
  }
}
